<style>
  #report-setting-date .sb-date-select-year {
    display: none;
  }
  #report-setting-date .sb-date-select-month {
    display: none;
  }
</style>
<form name="form" class="form-horizontal form-modal " method="post" action="">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">报送配置</h4>
  </div>
  <div class="modal-body" style="height: 470px;" id="info-edit-body">
    <div class="entity-block-wrap">
      <div class="entity-block">
        <div class="entity-block--body">
          <div class="form-group" id="report-setting-date">
            <div class="col-sm-8">
              <label class="entity-label">月报表截止时间：每月<span ng-bind="item.ybbjzsj"></span>号0点0分 </label>
              <div class="date-select" sb-date-select sb-select-class="form-control"  ng-model="ybbjzsj"></div>
              <!--<input type="text" class="form-control"  ng-model="item.ybbjzsj" validator="required"/>-->
            </div>
            <div class="col-sm-8">
              <label class="entity-label">抄告表截止时间：每月<span ng-bind="item.cgbjzsj"></span>号0点0分 </label>
              <div class="date-select" sb-date-select sb-select-class="form-control"  ng-model="cgbjzsj"></div>
              <!--<input type="password" class="form-control"  ng-model="item.cgbjzsj" validator="required"/>-->
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-16">
              <label class="entity-label">可见单位</label>
              <div class="panel panel-default">
                <div class="panel-body" style="height: 175px; overflow: auto">
                  <div ng-repeat="dept in deptList">
                    <label style="margin-left: 10px;" class="ng-binding">
                      <input type="checkbox" ng-model="dept.selected" ng-checked="dept.selected"
                             ng-click="selectDept($event, dept)" style="vertical-align:middle; margin-top:-2px;">
                      {{ dept.dwmc }}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
    <button type="button" class="btn btn-primary" validation-submit="form" ng-click="save()">保存</button>
  </div>
</form>


