<style>
  .w120 {
    width: 120px;
  }
</style>
<form name="form" class="form-horizontal form-modal " method="post" action="">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">人员信息</h4>
  </div>
  <div class="modal-body" style="height: 470px;" id="info-edit-body">
    <div class="entity-block-wrap">
      <div class="entity-block">
        <div class="entity-block--body">
          <!--<div class="form-group">
            <div class="col-sm-4">
              <label class="entity-label">统计月份</label>
              <input type="text" class="form-control" name="wkno" ng-model="item.wkno" validator="required"
                     autofocus="autofocus"/>
            </div>
          </div>-->
          <div class="form-group">
            <div class="col-sm-8">
              <label class="entity-label">月报表截止时间：每月</label>
              <input type="text" class="form-control"  ng-model="item.wkna" validator="required"/>
            </div>
            <div class="col-sm-8">
              <label class="entity-label">抄告表截止时间：每月</label>
              <input type="password" class="form-control"  ng-model="item.passwd" validator="required"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-16">
              <label class="entity-label">可见单位</label>

              <div class="panel panel-default">
                <div class="panel-body" style="height: 175px; overflow: auto">
                  <div ng-repeat="dept in deptList">
                    <label style="margin-left: 10px;" class="ng-binding">
                      <input type="checkbox" ng-model="dept.selected" ng-checked="dept.selected"
                             ng-click="selectDept($event)" style="vertical-align:middle; margin-top:-2px;">
                      {{ dept.dwmc }}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
    <button type="button" class="btn btn-primary" validation-submit="form" ng-click="save()">保存</button>
  </div>
</form>


