<!-- 必要的页面样式，用 id 开头-->
<style>
  #tjsj {
    position: absolute;
    right: 0;
    top: 5px;
    width: 200px;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
  }
  #tjsj .sb-date-select-day {
    display: none;
  }
</style>

<header class="l-app-header">
  <div class="app-toolbar">
    <button class="btn btn-sm btn-default">案件详细数据导出</button>
    <button class="btn btn-sm btn-default" ng-click="export_ybb()">超限月报表导出</button>
    <button class="btn btn-sm btn-default" ng-click="export_cgb()">超限抄告表导出</button>
    <button class="btn btn-sm btn-default fa-cog" ng-click="setting()"></button>
    <div id="tjsj">
      <div class="date-select" sb-date-select sb-select-class="form-control"  ng-model="tjsj_search"></div>
    </div>
  </div>
</header>
<section class="l-app-body on-footer">
  <section class="l-plate">
    <table class="app-table entity-view">
      <thead>
      <tr>
        <th colspan="6" style="text-align: center;" ng-bind="tjsj_title"></th>
      </tr>
      <tr>
        <!--<th class="with-checkbox">
          <input type="checkbox" ng-model="allItemIsChecked" ng-init="allItemIsChecked = false"
                 ng-click="selectAllItem()">
        </th>-->
        <th>序号</th>
        <th>案号</th>
        <th>车牌</th>
        <th>轴数</th>
        <th>所属单位</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in itemList" ng-click="mySliderToggle(item)" ng-class="isSelected(item)">
        <!--<td>
          <input type="checkbox" ng-checked="item.selected" ng-model="item.selected" ng-click="selectItem($event)">
        </td>-->
        <td>{{ $index+1 }}</td>
        <td>{{ item["aj_bh"] }}</td>
        <td>{{ item["cj_cp"] }}</td>
        <td>{{ item["cj_zs"] }}</td>
        <td>{{ item.dw.dwmc }}</td>
      </tr>
      </tbody>
    </table>
  </section>
</section>
<footer class="l-app-footer ">
  <div class="app-pagination-direction">总共{{ total }}条 当前为第{{ currentPage }}页</div>
  <paging
      class="app-pagination"
      page="currentPage"
      page-size="pageSize"
      total="total"
      adjacent="1"
      dots="..."
      scroll-top="true"
      hide-if-empty="true"
      ul-class="pagination"
      active-class="active"
      disabled-class="disabled"
      show-prev-next="true"
      paging-action="pagingAct('Paging Clicked', page)">
  </paging>
</footer>
<!-- 平级的位置 -->
<div my-slider-show class="l-entity-panel" slider-width="550px"
     ng-controller="OverrunItemDetailCtrl"
     ng-include="'../apps/overrun/partials/item-detail.html'">
</div>
<!-- 下载 -->
<form id="formForDownload" target="" method="post" action="#"
      style="display: none;">
</form>
