<header class="l-app-header">
  <div class="app-toolbar">
    <div class="btn-group">
      <button class="btn btn-sm btn-default fa-plus" title="添加" ng-click="add()"></button>
      <button class="btn btn-sm btn-default fa-trash" title="删除" ng-disabled="!deleteIsActived()"
              ng-click="delete()" ></button>
    </div>
  </div>
</header>
<section class="l-app-body on-footer">
  <section class="l-plate">
    <table class="app-table entity-view">
      <thead>
      <tr>
        <th class="with-checkbox">
          <input type="checkbox" ng-model="allItemIsChecked" ng-init="allItemIsChecked = false" ng-click="selectAllItem()">
        </th>
        <th>序号</th>
        <th>编号</th>
        <th>车牌</th>
        <th>轴数</th>
        <th>总重</th>
        <th>检测时间</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in itemList" ng-click="mySliderToggle(item)" ng-class="isSelected(item)">
        <td>
          <input type="checkbox" ng-checked="item.selected" ng-model="item.selected" ng-click="selectItem($event)">
        </td>
        <td>{{ $index+1 }}</td>
        <td>{{ item["number"] }}</td>
        <td>{{ item["cp"] }}</td>
        <td>{{ item.xccfCl.zs }}</td>
        <td>{{ item["cjzz"] }}</td>
        <td>{{ item["afsj"] }}</td>
      </tr>
      </tbody>
    </table>
  </section>
</section>
<footer class="l-app-footer ">
  <div class="app-pagination-direction">总共5条 当前为第1页</div>
  <paging
      class="app-pagination"
      page="currentPage"
      page-size="pageSize"
      total="total"
      adjacent="1"
      dots="..."
      scroll-top="true"
      hide-if-empty="true"
      ul-class="pagination"
      active-class="active"
      disabled-class="disabled"
      show-prev-next="true"
      paging-action="pagingAct('Paging Clicked', page)">
  </paging>
</footer>
<!-- 平级的位置 -->
<div my-slider-show class="l-entity-panel"
     ng-controller="OverrunEntityPanelCtrl"
     ng-include="'../apps/overrun/partials/item-detail.html'">
</div>
