<style>
  .desktop-bg {
    /*background-image: url("../assets/img/website/bg.png")*/
  }
  .desktop-content{
    margin: 10px;
  }
  .desktop-content .panel{
    margin-bottom: 10px;
  }
  .desktop-content .panel-heading{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .desktop-sidebar-center{
    margin-left: 0px;
    margin-right: 0px;
  }
  .overrun{
    height: 350px;
    overflow: hidden;
  }

  .overrun .panel-body{
    padding: 2px;
    overflow: hidden;
  }
  .non-overrun > .panel-body{
    padding: 0;
    overflow: hidden;
  }

</style>
<section class="app-content desktop-bg ">
  <section class="desktop-content ">
    <div class="desktop-sidebar-center">
      <section class="panel panel-default overrun">
        <div class="panel-heading">
          现场统计图
          <button class="btn btn-default"  ng-click="showOverrun(lastyear)">{{lastyear}}</button>
          <button class="btn" ng-class="{true: 'btn-default:active', false: 'btn-default'}[thisyearActive]"  ng-click="showOverrun(thisyear)">{{thisyear}}</button>
          <!--<button class="btn btn-default"  ng-click="showOverrun(nextyear)">{{nextyear}}</button>-->
        </div>
        <div class="panel-body">
          <div ng-include="'../apps/desktop/partials/statistics-charts.html'"></div>
        </div>
      </section>
      <section class="panel panel-default non-overrun">
        <div class="panel-heading">

        </div>
        <div class="panel-body" >
          <div ng-include="'../apps/desktop/partials/statistics-charts2.html'"></div>
        </div>
      </section>
    </div>
  </section>
</section>



