<style type="text/css">
  #allmap {
    width: 518px;
    height: 410px;
    overflow: hidden;
    margin: 0;
  }
</style>
<!---->
<div id="allmap"><img src="../apps/desktop/map-zs@2x.png"  style="width: 518px; height: 410px;" alt=""/></div>

<!--

<script type="text/javascript">
  /*
   越城区：120.589592,29.995234
   柯桥区：120.50163,30.088276
   上虞区：120.875325,30.038764
   诸暨市：120.242627,29.720354
   嵊州市：120.828409,29.595405
   新昌县：120.910161,29.505261
   */


  // 百度地图API功能
  var map = new BMap.Map("allmap");    // 创建Map实例

  var point1 = new BMap.Point(120.589592, 29.995234);
  var point2 = new BMap.Point(120.50163, 30.088276);
  var point3 = new BMap.Point(120.875325, 30.038764);
  var point4 = new BMap.Point(120.242627, 29.720354);
  var point5 = new BMap.Point(120.828409, 29.595405);
  var point6 = new BMap.Point(120.910161, 29.505261);


  var point = new BMap.Point(120.59246, 30.002364);
  map.centerAndZoom(point, 11);// 初始化地图,设置中心点坐标和地图级别
  map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
  map.setCurrentCity("绍兴");          // 设置地图显示的城市 此项是必须设置的
  //  map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
  //-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;point1
  var opts1 = {
    position: point1,    // 指定文本标注所在的地理位置
    offset: new BMap.Size(30, -30)    //设置文本偏移量
  }
  var label1 = new BMap.Label("文本标注", opts1);  // 创建文本标注对象
  label1.setStyle({
    color: "red",
    fontSize: "12px",
    height: "20px",
    lineHeight: "20px",
    fontFamily: "微软雅黑"
  });
  map.addOverlay(label1);
  //-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;point2
  var opts2 = {
    position: point2,    // 指定文本标注所在的地理位置
    offset: new BMap.Size(30, -30)    //设置文本偏移量
  }
  var label2 = new BMap.Label("文本标注", opts2);  // 创建文本标注对象
  label2.setStyle({
    color: "red",
    fontSize: "12px",
    height: "20px",
    lineHeight: "20px",
    fontFamily: "微软雅黑"
  });
  map.addOverlay(label2);
  //-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;point3
  var opts3 = {
    position: point3,    // 指定文本标注所在的地理位置
    offset: new BMap.Size(30, -30)    //设置文本偏移量
  }
  var label3 = new BMap.Label("文本标注", opts3);  // 创建文本标注对象
  label3.setStyle({
    color: "red",
    fontSize: "12px",
    height: "20px",
    lineHeight: "20px",
    fontFamily: "微软雅黑"
  });
  map.addOverlay(label3);
  //-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;point4
  var opts4 = {
    position: point4,    // 指定文本标注所在的地理位置
    offset: new BMap.Size(30, -30)    //设置文本偏移量
  }
  var label4 = new BMap.Label("文本标注", opts4);  // 创建文本标注对象
  label4.setStyle({
    color: "red",
    fontSize: "12px",
    height: "20px",
    lineHeight: "20px",
    fontFamily: "微软雅黑"
  });
  map.addOverlay(label4);
  //-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;point5
  var opts5 = {
    position: point5,    // 指定文本标注所在的地理位置
    offset: new BMap.Size(30, -30)    //设置文本偏移量
  }
  var label5 = new BMap.Label("文本标注", opts5);  // 创建文本标注对象
  label5.setStyle({
    color: "red",
    fontSize: "12px",
    height: "20px",
    lineHeight: "20px",
    fontFamily: "微软雅黑"
  });
  map.addOverlay(label5);
  //-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;point6
  var opts6 = {
    position: point6,    // 指定文本标注所在的地理位置
    offset: new BMap.Size(30, -30)    //设置文本偏移量
  }
  var label6 = new BMap.Label("文本标注", opts6);  // 创建文本标注对象
  label6.setStyle({
    color: "red",
    fontSize: "12px",
    height: "20px",
    lineHeight: "20px",
    fontFamily: "微软雅黑"
  });
  map.addOverlay(label6);


  function getBoundary() {
    var bdary = new BMap.Boundary();
    bdary.get("绍兴", function (rs) {       //获取行政区域
//            map.clearOverlays();        //清除地图覆盖物
      var count = rs.boundaries.length; //行政区域的点有多少个
      for (var i = 0; i < count; i++) {
        var ply = new BMap.Polygon(rs.boundaries[i], {strokeWeight: 1, strokeColor: "#717171", fillColor: "pink"});
        //建立多边形覆盖物，设置颜色
        map.addOverlay(ply);  //添加覆盖物
        map.setViewport(ply.getPath());    //调整视野
      }
    });
  }


  setTimeout(function () {
    getBoundary();

  }, 200);
</script>
-->


