<form name="form" class="form-horizontal form-modal " method="post" action="">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">单位信息</h4>
  </div>
  <div class="modal-body" id="info-edit-body">
    <div class="entity-block-wrap">
      <div class="entity-block">
        <div class="entity-block--body">
          <div class="form-group">
            <div class="col-sm-12">
              <label class="entity-label">单位名称</label>
              <input type="text" class="form-control" name="dw_mc" ng-model="item.dw_mc" validator="required"
                     autofocus="autofocus"/>
            </div>
            <div class="col-sm-4">
              <label class="entity-label">单位电话</label>
              <input type="text" class="form-control" name="dw_dh" ng-model="item.dw_dh" validator="required"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-16">
              <label class="entity-label">单位地址</label>
              <input type="text" class="form-control" name="dw_dz" ng-model="item.dw_dz" validator="required"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <label class="entity-label">负责单位</label>
              <input type="text" class="form-control" name="dw_fzdw" ng-model="item.dw_fzdw" validator="required"
                     autofocus="autofocus"/>
            </div>
            <div class="col-sm-4">
              <label class="entity-label">负责领导</label>
              <input type="text" class="form-control" name="dw_fzld" ng-model="item.dw_fzld" validator="required"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">
              <label class="entity-label">案号</label>
              <input type="text" class="form-control" name="dw_ahyd" ng-model="item.dw_ahyd" validator="required"/>
            </div>
            <div class="col-sm-4">
              <label class="entity-label">&nbsp;</label>
              〔2015〕字第 <input type="text" class="form-control" name="dw_ahed" ng-model="item.dw_ahed"
                              style=" width: 30px; display: inline-block;"
                              validator="required"/> 0001号
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">
              <label class="entity-label">缴款银行</label>
              <input type="text" class="form-control" name="dw_jkyh" ng-model="item.dw_jkyh" validator="required"/>
            </div>
            <div class="col-sm-4">
              <label class="entity-label">银行账号</label>
              <input type="text" class="form-control" name="dw_yhzh" ng-model="item.dw_yhzh" validator="required"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-16">
              <label class="entity-label">行政复议机关</label>
              <input type="text" class="form-control" name="dw_xzfy" ng-model="item.dw_xzfy" validator="required"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-16">
              <label class="entity-label">行政诉讼机关</label>
              <input type="text" class="form-control" name="dw_xzss" ng-model="item.dw_xzss" validator="required"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
    <button type="button" class="btn btn-default" validation-submit="form" ng-click="save()">保存</button>
  </div>
</form>


