<!-- 侧边栏主要显示菜单，是不变的 -->
<aside class="l-app-sidebar">
  <div class="app-direction in-sidebar">
    <!--应该是一个通用的指令-->
    <i class="app-direction--back" ng-click="backToMyapp()" title="返回"></i>
    <p class="app-direction--place">现场超限处罚应用</p>
  </div>
  <ul class="app-menu">
    <li ng-repeat="menu in menus">
      <a ng-class="isSelected(menu)" href="javascript:void(0);" ng-click="select(menu)">
        {{ menu.menuname }}
      </a>
    </li>
  </ul>
</aside>
<!-- 主区域是对应菜单内容变化的 -->
<aside ui-view-container class="l-app-main">
  <ui-view></ui-view>
</aside>
