@charset "utf-8";
.desktop-content {
  //min-height: 172px;
  margin: 10px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  overflow: hidden;
  position: relative;
}

//没用到
.desktop-wrap {
  margin: 20px;
  overflow: hidden;
}






