@charset "utf-8";
/*
  信息展示

  info 用于 detail
    详情面板中 info 包含了字段键值信息
  label、input 用于 edit
*/

/*--------------------------
  $ 目录
--------------------------*/
/*
  在 entity-panel 中：
  entity-title

  entity-info

  entity-upload-photo
  entity-photo
  entity-photo-hover 有缩放效果

  编辑页：
  entity-label
  entity-input
*/

/*--------------------------
  $ entity-title
--------------------------*/
.entity-title {
  position: absolute;
  top: 13px;
  left: 20px;
  font-size: 16px;
}

/*--------------------------
  $ entity-info
  默认一行两个
--------------------------*/
.entity-info {
  float: left;
  width: 50%;
  height: 36px;
  line-height: 36px;

  &.is-clear-both {
    clear: both;
    width: 100%;
  }
  &.is-highlight {
    color: rgba(255, 0, 0, .8);
  }
}

/*--------------------------
  $ entity-upload-photo
--------------------------*/
.entity-upload-photo {
  // 清楚 .entity-photo.with-delete 带来的浮动
  clear: both;
  @extend .iconfont;
  @extend .icon-photo;
  display: block;
  position: relative;
  width: 68px;
  height: 68px;
  font-size: 46px;
  padding: 10px;
  margin: 15px 0;
  border-radius: 4px;
  color: $app-border-color;
  border: 1px solid $app-border-color;
  cursor: pointer;
  transition: all 0.3s ease;
  &::after {
    content: '点击上传或拖拽上传';
    width: 204px;
    position: absolute;
    left: 90px;
    bottom: 0;
    margin-bottom: 20px;
    opacity: 0;
    color: $app-color;
    font-size: 12px;
    transition: all 0.2s linear;
  }
  &:hover::after {
    opacity: 1;
    margin-bottom: 0;
  }
  &:hover {
    color: $app-color;
  }
  // 单击效果，但 mac 的触控盘轻击无效
  &:active {
    color: #fff;
  }
}

/*--------------------------
  $ entity-photo
  作为图片的容器，用于编辑表单中
--------------------------*/
/*
  注：
    1）图片上不能加伪元素
    2）伪元素点击事件不友好
*/

.entity-photo {
  //height: 200px;
  width: 243px;
  margin: 10px 10px 10px 0;
  float: left;
  &.no-upload {
    // iconfont 已经是伪元素
    @extend .iconfont;
    @extend .icon-tupian;
    color: $app-border-color;
    outline: 2px dashed $app-border-color;
    text-align: center;
    font-size: 60px;
    padding: 40px 0;
    cursor: pointer;
  }
  // 作为一个整体来设计
  &.with-delete {
    // 父元素禁止浮动，以免干扰后面的元素
    > .compact {
      // compact 用来紧紧包裹图片
      position: relative;
      // 利用浮动的包裹性，让删除图标贴着图片
      clear: left;
      float: left;
      height: auto;
      width: auto;
      > .delete {
        // delete 实际上可以独立出去
        content: '';
        background: url("../img/element/delete-30.png") no-repeat center;
        // 背景大小就是图片大小
        background-size: 25px;
        display: block;
        position: absolute;
        top: -17px;
        right: -17px;
        width: 40px;
        height: 40px;
        z-index: 10;
        cursor: pointer;
        @extend .shake;
        @extend .shake-little;
      }
    }
  }
}
// 让图片实体自由在模块顶级元素中，并且具有一个唯一性的类名
.entity-photo--item {
  // max 表示范围
  //max-height: 200px;
  max-width: 240px;
}


/*--------------------------
  $ entity-photo-hover
  用于查看页面中
--------------------------*/
.entity-photo-hover {
  //height: 200px;
  //width: 400px;
  float: left;
  margin-left: 10px;

  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  &.is-large{
    > img {
      max-width: 500px;
    }
  }
  > img {
    max-width: 260px;
    //max-height: 200px;
    transition: all 1s;
  }
  &::after {
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: url(../img/element/zoom-in.png) no-repeat center rgba(24, 24, 24, 0.3);
    background-size: 50px;
    transition: all .5s;
    -webkit-transition: all .5s;
    cursor: pointer;
  }
  &:hover::after {
    opacity: 1;
  }
  /*&:hover > img {
    transform: scale(1.2);
  }*/
}


/*
  表单编辑页面
  entity-label 与 entity-input 只是针对本身的表单域（模块简单了，通用性就好）

  位置关系要借助栅格系统，推荐 bootstrap-sass 的 16 栏 grid
  还有 bootstrap 的 form-group 进行简单的分组
*/
.entity-label {
  display: block;
  font-size: $relative-font-size * 1.3;
  &.is-highlight {
    color: $hightlight-color;
  }
}

.entity-input {
  display: block;
  width: 100%;
  height: $input-height-base;
  > .dropdown-toggle {
    position: relative;
    text-align: left;
    > .caret {
      position: absolute;
      right: $padding-base-horizontal;
      top: ($input-height-base / 2) - 2px;
    }
  }
  + .input-group-btn > .btn {
    padding: 3px 8px;
  }
}

