/*
  此文件包含所有以 platform 前缀命名的模块（好处是便于跟踪和管理）


  样式设计规范：（从顶向下角度）
  模块结构：看到类名能还原出有效地 html 结构
  模块的形状：大小、轮廓
  模块的位置：
  模块的内容：最后是细节部分，比如内容居中等
*/

/*--------------------------
  $ 目录
--------------------------*/
/*
  私有变量
  platform-logo
  platform-title
  platform-top-nav
  platform-profile  # 用户信息
  platform-navbar
*/

/*--------------------------
  $ 私有变量
--------------------------*/
$platform-profile-width: 120px;

/*--------------------------
  $ platform 相关的模块
--------------------------*/
// 侧边栏宽度 90px 时，logo 宽30px，左外 30px 刚好水平对齐
.platform-logo {
  max-height: 30px;
  margin-left: 30px;
  @include vertical-align;
}

.platform-title {
  max-height: 30px;
  @include vertical-align;
  margin-left: $platform-sidebar-width;
  color: #fff;
  font-size: 19px;
  font-weight: bold;
}

/*--------------------------
  $ platform-dock 看作是一排带有格子的架子
--------------------------*/
/*
  li 默认是没有宽高的，要被参照是需要为其设置宽高，但是现在的设计是用 a 来填满整个点击区域，所以这是不设置 li 宽高的原因
*/
/* ul */
.platform-top-nav {
  position: absolute;
  right: 300px;
  height: $platform-header-height;
  z-index: 10; // 让 popup 能溢出显示
  > ul {
    position: relative;
    height: 100%;
  }
  > ul > li {
    position: relative;
    float: left;
    > a {
      // 父元素的 floated 时，子元素设置 block 相当于 inline-block
      display: block;
      min-width: 65px;
      // 单行垂直居中
      height: $platform-header-height;
      line-height: $platform-header-height;
      padding-left: 10px;
      padding-right: 10px;
      color: #9db1c5;
      font-size: $relative-font-size * 1.4;
      text-align: center;
      border-right: 1px solid rgba(0, 0, 0, 0.05);
      border-left: 1px solid rgba(255, 255, 255, 0.05);
      transition: all .3s;
      &:hover, &:focus {
        color: #FFF;
        //background-color: #25313e;
      }
      &:first-child {
        border-left: 0;
      }
    } // end a
  } // end li
}

/*--------------------------
  $ platform-profile
--------------------------*/
.platform-profile {
  position: absolute;
  right: 150px;
  z-index: 10; // 让 dropdown 能溢出显示
  > a {
    // 参考了 dock
    display: block;
    position: relative;
    width: $platform-profile-width;
    // 单行垂直居中
    height: $platform-header-height;
    line-height: $platform-header-height;
    text-indent: 45px; // 对子元素的文本，比 text-align 灵活
    color: #9db1c5;
    font-size: $relative-font-size * 1.4;
    transition: all .2s;

    > .name {
    }
    > .avatar {
      position: absolute;
      top: 14px;
      left: 10px;
      width: 25px;
      height: 25px;
    }
  }
  &:hover, &:focus {
    color: #FFF;
    background-color: $platform-background-hover-color;
  }
  &:hover > .platform-profile--dropdown {
    display: block;
  }
}

.platform-profile--dropdown {
  display: none;
  position: absolute; // 用定位脱离父模块
  top: $platform-header-height;
  > li {
    > a {
      display: block;
      width: $platform-profile-width;
      height: 40px;
      line-height: 40px;
      // 底色给 link 控制
      background-color: $platform-background-hover-color;
      color: #fff;
      text-decoration: none;
      border-top: 1px solid rgba(0, 0, 0, 0.05);
      box-shadow: 0 1px 1px rgba(0, 0, 0, .4);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: pointer;
      text-shadow: 0 1px 1px rgba(0, 0, 0, .12);
      font-size: $relative-font-size * 1.4;
      > i {
        width: 20px;
        height: 20px;
        margin: 0 11px 0 15px;
        //vertical-align: -7px;
      }
      &:hover {
        background-color: $platform-background-color;
      }
    }
    // end a
    &:last-child > a {
      // 底边由最后的 li 的 link 控制
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }
  // end li
}

/*------------------------*\
  $ platform-navbar
\*------------------------*/
/**
 * platform-navbar 与 platform-sidebar 的区别：
 * sidebar 要设置页面中的位置、大小、背景色
 * navbar 只要设置大小、背景色
 * 总结：navbar 不需要设置在页面中的方位
 */

/* ul */
.platform-navbar {
  // 宽度默认与父同宽、高度自适应、背景色保留
  > li {
    position: relative;
    > a {
      // 形状
      display: block;
      padding: 15px;
      // 内容
      text-align: center;
      color: #adbece;
      font-size: 14px;
      // 顶部白色边框与底部黑色边框组合的分割线样式
      border-top: 1px solid rgba(0, 0, 0, 0.05);
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      position: relative;
      // 用于 hover、focus、active
      transition: color .3s ease-in-out 0s;
      // todo: 搞清楚 active 的作用
      &:hover, &:visited, &:active, &.active {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.075);
        text-shadow: none;
      }
      // 不是伪类的哟~~
      &.active {
        border-left: 1px solid $direction-color;
      }
      & > .icon {
        // iconfont 的使用方法
        @extend .iconfont;
        display: block;
        margin: 6px 0;
        font-size: $relative-font-size * 2.6;
      }
      & > .text {
        display: block;
        font-size: $relative-font-size * 1.4;
      }
    }
  }
}

// end platform-navbar

