
/**
 * 账户
 */
.platform-account-info {

}

.platform-account-list {
  margin: 0;
  padding: 6px 0;
  width: 160px;
  background-color: #fff;
  position: absolute;
  top: $platform-header-height;
  right: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

  @include fadeInRight;
}

.platform-account-list__arrow--top {
  width: 0;
  height: 0;
  border: solid 7px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  bottom: 100%;
  left: 80px;
}

.platform-account-list__item {
  height: 30px;
}

.platform-account-list__link {
  display: block;
  font-size: $platform-account-list-font-size;
  padding: 5px 15px;
  &:hover{
    background-image: none;
    filter: none;
    background-color: #f1f1f1 !important;
    color: #717171;
  }
}
