/*
  此文件包含所有以 user 前缀命名的模块（好处是便于跟踪和管理）


  样式设计规范：（从顶向下角度）
  模块结构：看到类名能还原出有效地 html 结构
  模块的形状：大小、轮廓
  模块的位置：
  模块的内容：最后是细节部分，比如内容居中等
*/

/*--------------------------
  $ user 相关的模块
--------------------------*/
// 目前位于 platform header 中
.user-identity{
  position: relative;
  > img {
    // 元素垂直居中
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    @include size(28px);
    border-radius: 13px;
  }
  > span {
    margin-right: 5px;

  }
}













