<style>
  .table tbody i {
    font-size: 16px;
    cursor: hand;
  }
  .table>thead>tr{
    background-color: #2E3E4E; color: #fff;

  }
  #month-report-table thead th{
    height: 20px;
    padding-top: 2px ;
    padding-bottom: 2px ;
    text-align: center;
    vertical-align: middle;
  }
</style>
<table id="month-report-table"  class="table table-bordered">
  <thead>
  <tr>
    <th rowspan="2" style="padding-bottom: 10px;">单位</th>
    <th rowspan="2" >违规车辆</th>
    <th colspan="2">卸载</th>
    <th colspan="2">赔（补）偿</th>
  </tr>
  <tr>
    <th >辆</th>
    <th >顿</th>
    <th >辆</th>
    <th >元</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>501线</td>
      <td>6</td>
      <td>6</td>
      <td>71</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>101线</td>
      <td>8</td>
      <td>6</td>
      <td>79</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>303线</td>
      <td>9</td>
      <td>9</td>
      <td>100</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>305线</td>
      <td>5</td>
      <td>5</td>
      <td>61</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
