<header class="l-app-header">
  <div class="app-toolbar" ng-if="hasOpeAuth">
    <button class="btn btn-sm btn-default fa-plus" title="添加" ng-click="add()"></button>
    <button class="btn btn-sm btn-default fa-trash" title="删除" ng-disabled="!deleteIsActived()"
            ng-click="delete()"></button>
  </div>
  <div style="height: 50px; line-height: 50px; padding-left: 15px;" ng-if="!hasOpeAuth">
    非本单位只有查看权限
  </div>
</header>
<section class="l-app-body on-footer">
  <section class="l-plate">
    <table class="app-table entity-view">
      <thead>
      <tr>
        <th class="with-checkbox" ng-if="hasOpeAuth">
          <input type="checkbox" ng-model="allItemIsChecked" ng-init="allItemIsChecked = false" ng-click="selectAllItem()">
        </th>
        <th>序号</th>
        <th>姓名</th>
        <th>职位</th>
        <th>手机号</th>
        <th>固定电话</th>
        <th>状态</th>
      </tr>
      </thead>
      <tbody>
      <!-- 用对象方式添加多个类 -->
      <tr ng-repeat="item in itemList" ng-click="mySliderToggle(item)"
          ng-class="{'gradient-flash': notid==item.aj_id, active:selected == item}">
        <td ng-if="hasOpeAuth">
          <input type="checkbox" ng-checked="item.selected" ng-model="item.selected" ng-click="selectItem($event)">
        </td>
        <td>{{ $index+1 }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.position }}</td>
        <td>{{ item.mobile }}</td>
        <td>{{ item.telephone }}</td>
        <td>{{ item.state }}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </section>
</section>
<footer class="l-app-footer ">
  <div class="app-pagination-direction">总共{{ total }}条 当前为第{{ currentPage }}页</div>
  <paging
      class="app-pagination"
      page="currentPage"
      page-size="pageSize"
      total="total"
      adjacent="1"
      dots="..."
      scroll-top="true"
      hide-if-empty="true"
      ul-class="pagination"
      active-class="active"
      disabled-class="disabled"
      show-prev-next="true"
      paging-action="pagingAct('Paging Clicked', page)">
  </paging>
</footer>
<!-- 平级的位置 -->
<div my-slider-show class="l-entity-panel"
     ng-controller="ContactDetailCtrl"
     ng-include="'../apps/contact/partials/detail.html'">
</div>
