<form class="form-horizontal form-validate form-modal " method="post" action="">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">删除操作</h4>
  </div>
  <div class="modal-body" style="height: 80px">
    <h4 class="text-danger">您确定要删除吗？</h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="delete()">确定</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
  </div>
</form>


